@model WebHocTiengAnh.Models.Lesson

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_For_AdminPage.cshtml";
}

<h1>Tạo mới</h1>

<h4>Bài học</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TopicId" class="control-label"></label>
                <select asp-for="TopicId" class ="form-control" asp-items="ViewBag.TopicId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NameLesson" class="control-label"></label>
                <input asp-for="NameLesson" class="form-control" />
                <span asp-validation-for="NameLesson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequireExp" class="control-label"></label>
                <input asp-for="RequireExp" class="form-control" />
                <span asp-validation-for="RequireExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

