@model WebHocTiengAnh.Models.Topic

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_For_AdminPage.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>Chủ đề</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameTopic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameTopic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>
