@model WebHocTiengAnh.Models.ExerciseType

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout_For_AdminPage.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn chắc chắn xóa loại câu hỏi này? </h3>
<div>
    <h4>Loại câu hỏi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameExerciseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameExerciseType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
