.lesson a {
    line-height: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    display: block;
    font-size: 34px;
    box-shadow: 0px 0px 5px 3px #bcbcbc;
}
.lesson {
    padding: 15px
    
}
.row-topic{
    margin:100px 0 180px 0;
}
.prev {
    margin-right: 30px;
    cursor:pointer;
    color:gray;
}

.prev:hover {
    color:darkslategrey;
}